.contact-form {
    padding: var(--space-5rem) 0 var(--space-5rem) 0 ;
  .title-form {
    text-align: center;
    font-family: "Nunito", Sans-serif;
    &--line1 {
      font-size: var(--space-5rem);
    }
  }
  .form-alert{
      position: fixed;
      bottom: 10px;
      right: 0px;
      z-index: 1000;
  }
}
